.profile--main {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile--main p {
  font-size: 25px;
  text-align: center;

}

.profile--header {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.profile--header h1 {
  font-size: 68px;
}

.profile--main button {
  padding: 20px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background: none;
  box-shadow: 10px 10px 8px #575757;
  margin: 40px 0px;
}

.profile--main button:hover {
  background-color: rgb(113, 113, 113);
}

.profile--projects--div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile--project--pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 8px #575757;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  min-height: 300px;
}

.profile--project--pair:hover {
  background-color: rgb(113, 113, 113);
}

.profile--project--pair  img {
  width: 80%;
}
