html,
body,
#root,
.App{
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
    min-height: 100vh;
    bottom: 0;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: gray;
  color: black;
}

.App {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  font-size: 25px;
}

.header-sub {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header a {
  text-decoration: none;
}


.header a:hover {
  font-size: 30px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume--header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.resume--header h3 {
  font-size: 30px;
}

.resume--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.contact--div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contact--square {
  border: 1px solid white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--img {
  width: 50px;
  height: 50px;
}

.contact--img:hover {
  height: 55px;
  width: 55px;
}

.projects--main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.project--block {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 15px;
  width: 80%;
  justify-content: space-between;
  color: lightgrey;
  min-width: 650px;
}

.project--left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 30px;
}

.project--right img {
  max-width: 50vh;
}

.project--left a {
  font-size: 40px;
  color: white;
}

.profile--main {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile--main p {
  font-size: 25px;
  text-align: center;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fade--in--1 {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.fade--in--2 {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header--button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--button img {
  height: 15px;
  width: 15px;
}
