html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
    height: 100%;
    background-color: black;
      color: white;
}

.App {
  padding: 0;
  margin: 0;
  height: 100%;
}

.header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  padding: 0px 50px;
}

.header-sub{
  display: flex;
  gap: 50px;
  align-items: center;
}
