html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

#root {
  min-height: 100vh;
  bottom: 0;
}

.dark {
  color: white;
}

.dark a {
  color: white;
}

.light {
  color: white;
}

.light a {
  color: white;
}

.App {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fade--in--1 {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.fade--in--2 {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
